.navLink {
  background-color: transparent;
  text-decoration: none;
  color: #2c387e;
}

.navLink:hover {
  font-weight: 600;
}

.activeNavLink {
  text-decoration: underline;
  text-shadow: 1px 1px #000;
  opacity: 1;
}
